<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заброньовані тури</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">OpenWorldTour</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Головна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/booked_tours">Заброньовані тури</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add_tour">Додати тур</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2>Заброньовані тури</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Тур</th>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for booked_tour in booked_tours %}
        <tr>
            <td>{{ booked_tour.tour.title }}</td>
            <td>{{ booked_tour.surname }}</td>
            <td>{{ booked_tour.name }}</td>
            <td>{{ booked_tour.date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
